<ActionBar title="Groceries"></ActionBar>

<FlexboxLayout>
	<StackLayout class="form">
		<Image src="~/images/logo.png"></Image>

		<TextField hint="Email Address" keyboardType="email" autocorrect="false" autocpitalizationType="none" class="input input-border"></TextField>
		<TextField hint="Password" secure="true" class="input input-border"></TextField>
	
		<Button text="Sign in" class="btn btn-primary" (tap)="submit()"> text="Sign in"</Button>
		<Button text="Sign up for Groceries"></Button>
	</StackLayout>
</FlexboxLayout>